<!DOCTYPE html>
<html>
<head>
  <title>Mad Chatter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "mad_chatter/application", :media => "all" %>
  <%= javascript_include_tag "mad_chatter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_tag "MadChatter.initialize('#{mad_chatter.root_path}')" %>
</body>
</html>
